@charset "UTF-8";
body {
  margin: 0;
  width: 100%;
  background-color: #c2dde4;
}

header {
  padding: 0 30px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  background-color: #003a44;
}

.toplogo {
  padding: 7px 0 0px;
  height: 65px;
}

.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_menu li {
  padding: 10px 0 0 0;
  display: inline-block;
}

.top_menu a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Square Peg", cursive;
  text-transform: uppercase;
  color: #66a4ac;
  letter-spacing: 2px;
  padding: 0px 18px 0 5px;
}

.top_menu a:hover {
  color: #ffffff;
}

#menu__toggle {
  display: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.ontop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ontop img {
  width: 80%;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.osnova {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.osnova_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.osnova_one span {
  color: #06565b;
  font-family: "Square Peg", cursive;
  font-style: italic;
}

.osnova_one p {
  color: #06565b;
  font-family: "Square Peg", cursive;
  font-size: 15px;
}

.osnova_one h1 {
  color: #06565b;
  font-family: "Square Peg", cursive;
}

.osnova_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.osnova_two p {
  color: #06565b;
  font-family: "Square Peg", cursive;
  font-size: 15px;
}

.osnova_two h1 {
  color: #06565b;
  font-family: "Square Peg", cursive;
}

.osnova_three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.osnova_three p {
  color: #06565b;
  font-family: "Square Peg", cursive;
  font-size: 15px;
}

.osnova_three h1 {
  color: #06565b;
  font-family: "Square Peg", cursive;
}

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  background: #06565b;
  color: #fff;
  padding: 12px;
  text-decoration: none;
  font-family: "Square Peg", cursive;
  font-size: 15px;
  line-height: 1;
  width: 150px;
  text-align: center;
  border-radius: 5px;
}

.button:hover {
  background: rgba(0, 0, 0, 0);
  color: #395870;
  -webkit-box-shadow: inset 0 0 0 1px #3a7999;
          box-shadow: inset 0 0 0 1px #3a7999;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #003a44;
  height: 270px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left p {
  color: #c2dde4;
  font-family: "Square Peg", cursive;
  font-size: 12px;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right p {
  color: #c2dde4;
  font-family: "Square Peg", cursive;
  font-size: 12px;
}

.right img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  /* скрываем чекбокс */
  #menu__toggle {
    display: block;
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* используем flex для центрирования содержимого */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
  .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #06565b;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    margin: 12px 0 12px 0;
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
  }
  .menu__box {
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
  }
  .menu__item {
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
  }
  .toplogo {
    height: 50px;
    padding: 10px 0 0px;
  }
  .osnova_one h2 {
    text-align: justify;
  }
  .osnova_one p {
    text-align: justify;
  }
  .osnova_two h2 {
    text-align: justify;
  }
  .osnova_two p {
    text-align: justify;
  }
  .osnova_three h2 {
    text-align: justify;
  }
  .osnova_three p {
    text-align: justify;
  }
}

@media (max-width: 550px) {
  footer {
    text-align: center;
  }
  .left p {
    font-size: 9px;
  }
  .right p {
    font-size: 9px;
  }
  .right img {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 390px) {
  footer {
    height: 380px;
  }
}
